.logo-container {
  // z-index: 0;
  width: 600px;
  height: 400px;
  
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0.5;
  left: auto;
  margin: auto;

  

  .solid-logo {
    position: absolute;
 
    width: 90%;
    opacity: 0.5;
    transform: rotateZ(30deg) !important;
  }
}


@media screen and (max-width: 1000px) {
  .container{
    overflow:-moz-hidden-unscrollable;
  }
  .logo-container {
    // display: none;
    // z-index: 0;
    width: 700px;
    height: 1500px;
    overflow:-moz-hidden-unscrollable;
  
    
    position: absolute;
    top: 0;
    right: 0;
    // left:10%;
  .solid-logo {
    
    // display: none;
    // margin-right:30%;
    width:100%;
    // display: none;
    opacity: 0.2;
  }
 
 
  }
}